/*******************************globale modifecation*************************/
body{
    margin:0;
}
.conatainer{
    width:90%;
    margin:auto;
}
/*******************************globale modifecation*************************/

/*******************************header*************************/
header{
    display: flex;
}
.vector{
    float: right;
}
#svg-left{
    position: absolute;
    z-index:-1;
    right:0;
    top:0;
    }
.vector .rect{
    position: absolute;
    display: flex;
    z-index:2;
    right:40px;
    top:30px;
}
.title{
    display: flex;
    flex-direction: column;
    margin-left:40px;
    margin-top:30px;
}
.title div{
    margin-top:100px;
    align-items: center;
    margin-left:20px;
}
.title div p ,.title div h1{
    margin-bottom:60px;

}
.title div p{
    font-size: 30px;
    line-height: 42px;
    color: #848792;

}
.title div h1{
    font-size: 50px;
    line-height: 75px;
    color: #848792;
}
.title button{
    background: none;
    border-radius: 15px;

}
.rect button{
    margin-right: 30px;
    align-self: center;
    color: white;
    width:60px;
    height: 30px;
    background: none;
    border:1px white solid;
    border-radius: 15px;
}
#cercle{
    position: absolute;
    top:0px;
    right: 0px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
}
#cercle #num{
    display: table-cell;
    vertical-align: middle; 
    text-align: center;  
    height:25px;
    width: 25px;
}
#num p{
    font-size:1.2em;
    color:#F58338;
    margin: 0px;
}
#order button {
    border:none;
    font-size: 18px; 
    outline: none;
    color:#fff;
    background: linear-gradient(90deg, rgba(245, 131, 56, 0.85) 0%, rgba(252, 169, 36, 0.83) 100%);
    padding: 10px;
    width:200px;
    border-radius:10px ;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, 0.34);
    cursor: pointer;
  }
  #order{
    margin-left:0px;
    margin-top:30px;
    margin-bottom: 30px; 
    display: flex;
    
  }
  #order button:hover {
    transition: 0.6s ease;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.8);
  }

/*******************************header*************************/